# SF Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [1]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [2]:
sal = pd.read_csv('Salaries.csv')

** Check the head of the DataFrame. **

In [3]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [4]:
sal[sal['TotalPay'] != sal['TotalPayBenefits']]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
36159,36160,Gary Altenberg,"Lieutenant, Fire Suppression",128808.87,220909.48,13126.31,44430.12,362844.66,407274.78,2012,NaN,San Francisco,NaN
36160,36161,Gregory Suhr,Chief of Police,302578.00,0.00,18974.11,69810.19,321552.11,391362.30,2012,NaN,San Francisco,NaN
36161,36162,Khoa Trinh,Electronic Maintenance Tech,111921.00,146415.32,78057.41,53102.29,336393.73,389496.02,2012,NaN,San Francisco,NaN
36162,36163,Joanne Hayes-White,"Chief, Fire Department",296943.01,0.00,17816.59,72047.88,314759.60,386807.48,2012,NaN,San Francisco,NaN
36163,36164,Frederick Binkley,EMT/Paramedic/Firefighter,126863.19,192424.49,17917.18,44438.25,337204.86,381643.11,2012,NaN,San Francisco,NaN
36164,36165,Amy Hart,Dept Head V,271607.74,0.00,19782.03,84681.82,291389.77,376071.59,2012,NaN,San Francisco,NaN
36165,36166,Edward Reiskin,"Gen Mgr, Public Trnsp Dept",294000.17,0.00,0.00,82001.94,294000.17,376002.11,2012,NaN,San Francisco,NaN
36166,36167,John Martin,Dept Head V,287747.89,0.00,5274.57,81824.37,293022.46,374846.83,2012,NaN,San Francisco,NaN
36167,36168,John Goldberg,Captain 3,104404.00,0.00,245999.41,24287.23,350403.41,374690.64,2012,NaN,San Francisco,NaN
36168,36169,David Franklin,Asst Chf of Dept (Fire Dept),204032.52,85503.16,26193.09,58486.10,315728.77,374214.87,2012,NaN,San Francisco,NaN
36169,36170,Brendan Ward,"Battlion Chief, Fire Suppressi",174822.47,118215.58,28845.78,49648.09,321883.83,371531.92,2012,NaN,San Francisco,NaN
36170,36171,Samson Lai,"Battlion Chief, Fire Suppressi",174822.44,112731.28,28660.28,53249.56,316214.00,369463.56,2012,NaN,San Francisco,NaN
36171,36172,Rudy Castellanos,"Battlion Chief, Fire Suppressi",176771.74,124413.13,15803.39,52320.90,316988.26,369309.16,2012,NaN,San Francisco,NaN
36172,36173,Marty Ross,"Battlion Chief, Fire Suppressi",174822.41,99623.51,36522.39,55353.92,310968.31,366322.23,2012,NaN,San Francisco,NaN
36173,36174,Mark Kearney,Assistant Deputy Chief 2,124573.50,22599.60,180516.68,32381.00,327689.78,360070.78,2012,NaN,San Francisco,NaN
36174,36175,Leda Rozier,Transit Manager 2,98211.01,0.00,200951.30,60285.44,299162.31,359447.75,2012,NaN,San Francisco,NaN
36175,36176,Ellen Moffatt,Asst Med Examiner,260528.26,3394.90,20400.00,73017.12,284323.16,357340.28,2012,NaN,San Francisco,NaN
36176,36177,Raymond Guzman,Dep Chf of Dept (Fire Dept),244102.02,24204.66,20232.29,64702.72,288538.97,353241.69,2012,NaN,San Francisco,NaN
36177,36178,Edward Harrington,Executive Contract Employee,232815.01,0.00,51564.01,67667.09,284379.02,352046.11,2012,NaN,San Francisco,NaN
36178,36179,Judy Melinek,Asst Med Examiner,260528.15,377.21,18425.37,72286.35,279330.73,351617.08,2012,NaN,San Francisco,NaN
36179,36180,Michael Morris,Assistant Deputy Chief 2,223371.00,7415.52,63426.03,56202.98,294212.55,350415.53,2012,NaN,San Francisco,NaN
36180,36181,Michael Rolovich,"Captain, Fire Suppression",145659.03,125868.06,30474.97,45129.03,302002.06,347131.09,2012,NaN,San Francisco,NaN
36181,36182,James Dudley,Deputy Chief 3,263426.50,0.00,22857.87,59265.59,286284.37,345549.96,2012,NaN,San Francisco,NaN
36182,36183,Mark Gonzales,Dep Chf of Dept (Fire Dept),252423.60,8357.25,15742.21,68783.23,276523.06,345306.29,2012,NaN,San Francisco,NaN
36183,36184,Harlan Kelly-Jr,Executive Contract Employee,249362.77,0.00,13810.69,80999.77,263173.46,344173.23,2012,NaN,San Francisco,NaN
36184,36185,Darryl Hunter,"Captain, Fire Suppression",145659.03,115673.73,32610.00,49571.51,293942.76,343514.27,2012,NaN,San Francisco,NaN
36185,36186,Trent Rhorer,Dept Head V,253649.80,0.00,6486.00,80660.61,260135.80,340796.41,2012,NaN,San Francisco,NaN
36186,36187,Michael Delane,"Captain, Fire Suppression",147069.71,113372.94,33012.58,45978.15,293455.23,339433.38,2012,NaN,San Francisco,NaN
36187,36188,Barbara Garcia,Dept Head V,253435.69,0.00,6486.00,79477.91,259921.69,339399.60,2012,NaN,San Francisco,NaN
36188,36189,Susan Currin,"Adm, SFGH Medical Center",254878.82,0.00,9486.00,75003.33,264364.82,339368.15,2012,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148582,148583,Eva M Crummett,Recreation Leader,51.60,0.00,0.00,0.52,51.60,52.12,2014,NaN,San Francisco,NaN
148583,148584,Laura R Epstein-Norris,Recreation Leader,49.66,0.00,0.00,0.50,49.66,50.16,2014,NaN,San Francisco,NaN
148586,148587,Kesha Mcwhorter,Junior Clerk,48.91,0.00,0.00,0.49,48.91,49.40,2014,NaN,San Francisco,NaN
148587,148588,Jacob B Croghan,Recreation Leader,48.68,0.00,0.00,0.49,48.68,49.17,2014,NaN,San Francisco,NaN
148589,148590,Larry Liederman,Commissioner No Benefits,46.15,0.00,0.00,0.46,46.15,46.61,2014,NaN,San Francisco,NaN
148590,148591,Patrice Y Yagen,Recreation Leader,45.90,0.00,0.00,0.46,45.90,46.36,2014,NaN,San Francisco,NaN
148591,148592,Chauncey L Miller,Public Service Trainee,42.96,0.00,2.15,0.45,45.11,45.56,2014,NaN,San Francisco,NaN
148592,148593,Marica S Petrey,Recreation Leader,43.44,0.00,0.00,0.43,43.44,43.87,2014,NaN,San Francisco,NaN
148595,148596,Robert B Woodville,Recreation Leader,40.28,0.00,0.00,0.40,40.28,40.68,2014,NaN,San Francisco,NaN
148596,148597,Rowena T Ignacio,Registered Nurse,0.00,0.00,33.55,6.91,33.55,40.46,2014,NaN,San Francisco,NaN
148598,148599,Richard E Aicardi,Recreation Leader,37.25,0.00,0.00,0.37,37.25,37.62,2014,NaN,San Francisco,NaN
148599,148600,Thomas A Harris,Recreation Leader,37.25,0.00,0.00,0.37,37.25,37.62,2014,NaN,San Francisco,NaN
148600,148601,Kim L Evans,Recreation Leader,37.23,0.00,0.00,0.37,37.23,37.60,2014,NaN,San Francisco,NaN
148601,148602,Brieanna Mcfadden,Recreation Leader,34.88,0.00,0.00,0.35,34.88,35.23,2014,NaN,San Francisco,NaN
148602,148603,Trayvonte T Britt,Recreation Leader,34.75,0.00,0.00,0.35,34.75,35.10,2014,NaN,San Francisco,NaN
148604,148605,Sugyn M Paynay,Publ Svc Aide-Asst to Prof,34.03,0.00,0.00,0.34,34.03,34.37,2014,NaN,San Francisco,NaN
148605,148606,Edwina V Brinas,Registered Nurse,0.00,0.00,28.49,5.86,28.49,34.35,2014,NaN,San Francisco,NaN
148606,148607,Randall Cinti,School Crossing Guard,31.75,0.00,0.00,0.32,31.75,32.07,2014,NaN,San Francisco,NaN
148607,148608,Gary C Schoenfeld,Pool Lifeguard,31.43,0.00,0.00,0.31,31.43,31.74,2014,NaN,San Francisco,NaN
148608,148609,Elsa N Evangelista,Registered Nurse,21.76,0.00,0.00,7.27,21.76,29.03,2014,NaN,San Francisco,NaN
148609,148610,Tucker L Silva,Pool Lifeguard,26.94,0.00,0.00,0.27,26.94,27.21,2014,NaN,San Francisco,NaN
148610,148611,Ruby S Martin,Special Nurse,21.22,0.00,0.00,4.99,21.22,26.21,2014,NaN,San Francisco,NaN
148613,148614,Nanette M Lloyd,Special Nurse,19.97,0.00,0.00,4.30,19.97,24.27,2014,NaN,San Francisco,NaN
148615,148616,Marilou P Gan,Registered Nurse,0.00,0.00,19.27,3.97,19.27,23.24,2014,NaN,San Francisco,NaN
148616,148617,Afakasi O Afakasi,Public Service Trainee,21.48,0.00,0.86,0.22,22.34,22.56,2014,NaN,San Francisco,NaN
148617,148618,Charles F Williams Iii,Pool Lifeguard,17.26,0.00,0.00,4.04,17.26,21.30,2014,NaN,San Francisco,NaN
148619,148620,Ian V Cameron,IS Program Analyst-Assistant,6.04,0.00,10.05,2.30,16.09,18.39,2014,NaN,San Francisco,NaN
148620,148621,India C Sabater,Recreation Leader,15.50,0.00,0.00,0.16,15.50,15.66,2014,NaN,San Francisco,NaN
148623,148624,Deborah B Honig,Attorney (Civil/Criminal),0.00,0.00,13.35,0.13,13.35,13.48,2014,NaN,San Francisco,NaN
148625,148626,Renato C Gurion,Registered Nurse,0.00,0.00,6.00,1.24,6.00,7.24,2014,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [5]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [6]:
sal['BasePay'].mean()

66325.44884050643

** What is the highest amount of OvertimePay in the dataset ? **

In [7]:
sal['OvertimePay'].max()

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [8]:
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [9]:
sal[sal['EmployeeName'] == 'Joseph Driscoll']['TotalPayBenefits']

36198    331834.79
Name: TotalPayBenefits, dtype: float64

** What is the name of highest paid person (including benefits)?**

In [10]:
sal.loc[sal['TotalPayBenefits'].idxmax()]['EmployeeName']

'NATHANIEL FORD'

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [11]:
sal.loc[sal['TotalPayBenefits'].idxmin()]

Id                                      148654
EmployeeName                         Joe Lopez
JobTitle            Counselor, Log Cabin Ranch
BasePay                                      0
OvertimePay                                  0
OtherPay                               -618.13
Benefits                                     0
TotalPay                               -618.13
TotalPayBenefits                       -618.13
Year                                      2014
Notes                                      NaN
Agency                           San Francisco
Status                                     NaN
Name: 148653, dtype: object

The specific employee has a ***negative*** overall salary which can't be the case.

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [12]:
sal.groupby('Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [13]:
sal['JobTitle'].nunique()

2159

** What are the top 5 most common jobs? **

In [14]:
sal['JobTitle'].value_counts()[0:5]

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [15]:
sum(sal['JobTitle'][sal['Year'] == 2013].value_counts() == 1)

202

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [16]:
# to get an idea, we first used a ready-made function
sal[sal['JobTitle'].str.contains('chief', case=False, regex=True)].shape

(627, 13)

In [17]:
# then, as it was mentioned by the course instructor
# there were some cases in which the word 'chief' was
# followed by comma
def WordChief(title):
    if 'chief' in title.lower().split():
        return True
    elif 'chief,' in title.lower().split():
        return True
    else:
        return False

In [18]:
sum(sal['JobTitle'].apply(lambda x: WordChief(x)))

627

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [19]:
# create a new column which has shows the length of the Job title for each row
sal['title_len'] = sal['JobTitle'].str.len()
# calculate the correlation for the 2 variables above
sal[['title_len', 'TotalPayBenefits']].corr()

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

There is no correlation between Salary and the length of the Job title, since the correlation coefficient is close to 0.

# Great Job!